inc/.DS_Store
out/res/.DS_Store
out/src/.DS_Store
out/.DS_Store
out/rom_head.bin
out/rom_head.o
out/rom.bin
out/rom.out
out/sega.o
out/symbol.txt
out/res/resources.d
out/res/resources.o
out/src/engine.d
out/src/engine.o
out/src/main.d
out/src/main.o
out/src/npc.d
out/src/npc.o
out/src/player.d
out/src/player.o
out/src/states.d
out/src/states.o
out/src/intro/controller.d
out/src/intro/controller.o
out/src/intro/intro.d
out/src/intro/intro.o
out/src/level1/controller.d
out/src/level1/controller.o
out/src/level1/level1.d
out/src/level1/level1.o
out/src/options/controller.d
out/src/options/controller.o
out/src/options/options.d
out/src/options/options.o
out/src/start/controller.d
out/src/start/controller.o
out/src/start/start.d
out/src/start/start.o
out/src/environment.d
out/src/environment.o
out/src/camera.o
out/src/camera.d
out/src/global.d
out/src/global.o
res/.DS_Store
src/.DS_Store
.DS_Store
src/c_cpp_properties_example.json